{
  "root": true,
  "extends": [
    "eslint:recommended",
    "plugin:@typescript-eslint/eslint-recommended",
    "plugin:@typescript-eslint/recommended"
  ],
  "parser": "@typescript-eslint/parser",
  "plugins": ["@typescript-eslint", "prettier"],
  "env": {
    "jest": true
  },
  "rules": {
    "no-console": ["error"],
    "quotes": ["error", "single"],
    "@typescript-eslint/no-explicit-any": ["warn"]
  }
}
